node_modules
out/
files/ExportFixedWidthForDD2975.xlsx
files/ProjectGoals.docx
files/ProposedMileStones.docx
playwright-report/
test-results/
.vscode/
/test-results
/playwright-report
/test-results
/playwright-report
/.venv
SPSCC_CS490_SeniorProject_HealthAssessment.code-workspace
